@import "header",
        "nac",
        "big",
        "chrono",
        "jury";

.container {
  padding-top: 2.2em;
  position: absolute;
  height: 100%;
  left: 10%;
  right: 10%;
}
.sub-container {
  margin-top: 15%;
  margin-bottom: 5em;
}
.arrowBack {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 3.5em;
  height: 3.5em;
  background: $md-btn-bg;
  color: $md-btn-text;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 1;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-justify-content: center;
  -webkit-align-items: center;

  -ms-flex-justify-content: center;
  -ms-flex-align-items: center;

  justify-content: center;
  align-items: center;
}
