@import "header",
        "nac",
        "big",
        "chrono",
        "jury";

.container {
  padding-top: 2.2em;
  position: absolute;
  height: 100%;
  left: 10%;
  right: 10%;
}
.sub-container {
  margin-top: 15%;
  margin-bottom: 5em;
}
.md-button {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  color: $md-btn-text;
  background-color: $md-btn-bg;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 1;
  h3 {
    margin: .9em;
  }
}
