%tableBorder {
	border: 1px solid black;
	border-radius: 8px;
}

table {
	width: 100%;
	th {
		background-color: $secondary;
		color: white;
		}
	tr {
		&:nth-child(2n) {
			background: lightgray;
		}
		&:nth-child(2n+1) {
			background: white;
		}
	}
	td {
		vertical-align: center;
	}
	.center {
		text-align: center;
	}
}
