table {
	width: 100%;
	th {
		background-color: $secondary;
		color: #F4F4F4;
		}
	tr {
		&:nth-child(2n) {
			background: #D6D6D6;
		}
		&:nth-child(2n+1) {
			background: #F4F4F4;
		}
	}
	td {
		vertical-align: center;
	}
	.center {
		text-align: center;
	}
}

.selectTeamP {
	margin-bottom: .3em;
	.selectTeam {
		width: 100%;
		margin-top: .3em;
		font-size: 1em;
		background: #F4F4F4;
	}
}
