header {
    background-color: $secondary;
    position: fixed;
    width: 100%;
    padding: .9em;
    box-shadow: 0 1px 4px #333;
    z-index: 1;
  h3 {
    text-align: center;
    margin: 0;
  }
}
