%jury {
  width: 100%;
  min-height: 5em;
  border: 1px solid $secondary;
  img {
      width: auto;
      float: left;
      margin: .5em;
  }
}

.jury-small {
  @extend %jury;
  .jury-small-name {
    span {
      display: block;
      font-size: 1.17em;
      padding-top: .2em;
      font-weight: bold;
    }
  }
  .jury-small-desc {
    float: left;
    p {
      width: 100%;
    }
  }
}

.jury-big {
  @extend %jury;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  .jury-big-name {
    span {
      display: block;
      font-size: 1.5em;
      margin-top: 0.6em;
      font-weight: bold;
    }
  }
  .jury-big-desc {
    p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
