%jury {
  width: 100%;
  min-height: 5em;
  border: 1px solid $secondary;
  .jury-name {
    position: relative;
    top: .5em;
    h2, h3{
      width: 100%;
      margin: 0px;
    }
  }
    img {
        width: auto;
        float: left;
        margin: .5em;
    }
}

.jury-small {
  @extend %jury;
  .jury-desc {
    float: left;
    p {
      width: 100%;
    }
  }
}

.jury-big {
  @extend %jury;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  .jury-big-info {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .jury-big-desc {
    flex: 2;
    p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
