%jury {
  width: 100%;
  min-height: 5em;
  border: 1px solid $secondary;
  .jury-name {
    position: relative;
    top: .5em;
    h2, h3{
      width: 100%;
      margin: 0px;
    }
  }
    img {
        width: auto;
        float: left;
        margin: .5em;
    }
}

.jury-small {
  @extend %jury;
  // background-color: lightgray;
  .jury-desc {
    float: left;
    p {
      width: 100%;
    }
  }
}

.jury-big {
  @extend %jury;
  background-color: $secondary;
  .jury-desc {
    p {
      margin: .3em .3em 0 .3em;
      text-align: justify;
    }
  }
}
