%border {
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 0 1px 4px #333;
}
%boxStyling {
  @extend %border;
  background-color: $button1;
}
.flexContainerColumn {
  margin-top: 2.2em;

  .flexContainerRow {

    .flexItem {
      @extend %boxStyling;
    }
  }
  .logo {
    width: 100%;
  }
}



//     .box {
//       display: absolute;
//       margin-bottom: 5%;
//       float: left;
//       width: 47.5%;
//       height: 21.375%;
//       border: 0px solid black;
//       border-radius: 8px;
//       box-shadow: 0 1px 4px #333;
//       h3 {
//         text-align: center;
//         padding: 41% 0;
//         margin: 0;
//       }
//     }
//     .box-1 {
//       margin-top: 15%;
//       background-color: $button1;
//     }
//     .box-2 {
//       margin-top: 15%;
//       background-color: $button2;
//       margin-left: 5%;
//     }
//     .box-3 {
//       background-color: $button3;
//     }
//     .box-4 {
//       background-color: $button4;
//       margin-left: 5%;
//     }
//     .logo {
//       max-width: 100%;
//     }
// }
