$primary:           #28ABB3;
$secondary:         #088B93;
$button1:           #B6CAC0;
$button2:           #C6D7C7;
$button3:           #96CBD1;
$button4:           #BEDFD4;
$md-btn-text:       #f1f1f1;
$md-btn-bg:         #E40A5D;
